/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.table {
    table-layout: auto;
    color: #000;
    border-collapse: collapse;
    width: 100rem;
    margin-right: 10rem;
}

.cell-header,
.table__cell {
    padding: 10px;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid #000;
}


.table__body .table__row:nth-child(odd) {
    background-color: #a8a8a8;
}


.table__body .table__row > .table__cell:first-child {
    font-weight: 700;
}

.table__body .table__row > .table__cell:nth-child(2) {
    text-align: left;
}


.table__button {
    width: 35px;
    height: 35px;
    font-size: 2.4rem;
    border-radius: 3px;
    background-color: #e5e5e5;
    transition: 0.3s all;
}

.button_add:hover {
    background-color: #8dffa7;
}

.button_del:hover {
    background-color: #fba19e;
}

.table__row {
    transition: 0.5s all;
}

.table__body .table__row:hover {
    position: relative;
    transform: translateY(-1px);
    background-color: rgba(244, 162, 111, 0.53);
}


.form {
    margin-lefte: 10rem;
}

.form__title {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}

.form__section {
    border: 1px solid #000;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form__input span {
    font-size: 2rem;
}

.form__input input {
    border: 1px solid #000;
    width: 20rem;
    height: 3rem;

}

.form__input label {
    margin-bottom: 0.5rem;
}


.submit {
    border: 1px solid #999999;
    padding: 1rem;
    font-size: 1.8rem;
}


@media (max-width: 1440px) {
    .main {
        flex-wrap: wrap;
    }

    .table {
        margin-bottom: 10rem;
        margin-right: 0;
        max-width: 100%;
    }
}